$theme-color: #be3421;

button {
  cursor: pointer;
}

.header {
  &-box {
    box-sizing: border-box;
    width: 100%;
    min-height: 3rem;
    color: white;
    background-color: $theme-color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 2rem;
    justify-content: space-between;
  }

  &-logo {
    width: 4rem;
    height: 4rem;
  }

  &-user {
    position: relative;
    &-logo {
      width: 2.5rem;
      height: 2.5rem;
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 6rem;
      background-color: transparent;
      border: none;
    }
  }

  &-dropdown {
    position: absolute;
    right: 0;
    z-index: 1;
    color: black;
    background-color: white;
    padding: 1rem 1rem;
    list-style-type: none;

    &-button {
      padding: 0.5rem 0rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
    }

    &-arrow {
      width: 1rem;
      height: 1rem;
      &-open {
        width: 1rem;
        height: 1rem;
        -ms-transform: rotate(180deg); /* IE 9 */
        transform: rotate(180deg);
      }
    }
  }
}

.introduction {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 33rem;
  background-color: white;
  // border: 1px solid black;
  background-image: url("../src/images/hero.jpg");
  background-size: cover;
  background-position: center;

  &-title {
    font-size: 3rem;
  }
}

.form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  &-each-box {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
  }

  &-logo {
    width: 2rem;
    height: 2rem;
  }

  &-input {
    border: none;
    padding: 0.5rem;
    margin-left: 0.2rem;
    &:focus {
      border: 0.1rem solid $theme-color;
    }
  }

  &-submit-button {
    color: white;
    background-color: $theme-color;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 1rem 3rem;
    margin-left: 3rem;
    border-radius: 0.2rem;
  }

  &-modify {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-box {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      padding: 1rem;
    }
    &-title {
      font-size: 0.8rem;
      color: gray;
      margin-left: 0.7rem;
    }

    &-input {
      border: none;
      font-size: 1rem;
      padding: 0.5rem;
      margin-left: 0.2rem;
      width: min-content;
      &:focus {
        border: 0.1rem solid $theme-color;
      }
    }

    &-swap {
      &-logo {
        width: 1.5rem;
        height: 1.5rem;
      }

      &-button {
        border: none;
        background-color: transparent;

        &:focus {
          animation-name: swap-animation;
          animation-duration: 1s;
        }
      }
    }
    &-submit-button {
      border: none;
      height: min-content;
      font-size: 1rem;
      font-weight: 600;
      color: white;
      background-color: $theme-color;
      padding: 1rem 2rem;
      margin: 1rem 2rem;
    }

    &-close {
      border: none;
      background-color: transparent;
      float: right;
      padding: 0.5rem;
      &-logo {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.search {
  &-current {
    width: 100%;
    border-bottom: 0.1rem solid black;
    &-result {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 40vw;
      font-weight: 600;
      padding: 1rem;
      &-arrow {
        width: 1rem;
        height: 1rem;
      }

      &-button {
        padding: 0;
        border: none;
        background-color: transparent;
        margin: 0rem 1rem;
        width: min-content;
      }

      &-date {
        &-box {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &-title {
            font-size: 1rem;
            font-weight: 600;
          }

          &-subtitle {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }
      }

      &-next {
        width: 1rem;
        height: 1rem;
      }
      &-previous {
        transform: rotate(180deg);
        width: 1rem;
        height: 1rem;
      }

      &-modify {
        border: 0.2rem solid black;
        padding: 0.5rem 2rem;
        color: black;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 600;

        &:hover {
          border: 0.2rem solid $theme-color;
          color: $theme-color;
        }
      }
    }
  }
}

.result {
  box-sizing: border-box;
  padding: 1rem 2rem;
  width: 100%;
  min-height: 70vh;
  &-count {
    font-weight: 400;
  }

  &-each {
    &-data {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      &-name {
        display: flex;
        flex-direction: column;
        width: 15%;
        &-title {
          padding: 1rem 0rem;
        }
        &-type {
          padding: 1rem 0rem;
          font-weight: 400;
          font-size: 0.9rem;
          color: gray;
        }
      }
      &-departure {
        display: flex;
        flex-direction: column;
        &-time {
          padding: 1rem 0rem;
          font-size: 1.1rem;
          font-weight: 700;
        }
        &-place {
          padding: 1rem 0rem;
          font-size: 0.9rem;
          color: gray;
        }
      }

      &-arrival {
        display: flex;
        flex-direction: column;
        &-time {
          padding: 1rem 0rem;
          font-size: 1.1rem;
        }
        &-place {
          padding: 1rem 0rem;
          font-size: 0.9rem;
          color: gray;
        }
      }
      &-total-time {
        padding: 1rem 0rem;
        font-size: 1rem;
      }

      &-price {
        padding: 1rem 0rem;
        font-size: 1.1rem;
        font-weight: 700;
        width: 15%;
      }

      &-extra {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
        &-available {
          font-size: 1rem;
          color: gray;
        }
        &-windows {
          font-size: 1rem;
          color: gray;
        }
      }
    }
    &-amenities {
      display: flex;
      flex-wrap: wrap;
      width: 30%;

      &-each {
        padding: 0.5rem;
        &-logo {
          width: 1.5rem;
        }
      }
    }
    &-seats {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      &-button {
        border: none;
        padding: 0.8rem 2rem;
        color: white;
        background-color: $theme-color;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

.booking {
  display: flex;
  flex-direction: column;
  &-box {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    width: 100%;
  }

  &-cancel {
    &-button {
      border: none;
      background-color: transparent;
      position: absolute;
      right: 3rem;
    }
    &-logo {
      width: 1.5rem;
    }
  }

  &-price-button {
    border: none;
    width: min-content;
    height: min-content;
    margin: 0rem 1rem;
    padding: 0.5rem 2rem;
    color: $theme-color;
    background-color: white;
    border: 0.2rem solid $theme-color;
    font-size: 1rem;
    font-weight: 700;
  }

  &-price-button-clicked {
    border: none;
    color: white;
    background-color: $theme-color;
  }

  &-bus-seats {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.deck {
  box-sizing: border-box;
  width: 100%;
  border-left: 0.5rem solid gray;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  &-steering {
    padding: 1rem;
    &-logo {
      width: 1.2rem;
    }
  }
  &-seats {
    margin-top: -0.5rem;
    padding: 0.3rem;
    border-left: 0.15rem solid gray;
    &-row {
      display: flex;
      margin: 1rem 0rem;
    }
    &-each {
      background-color: transparent;
      display: flex;
      justify-content: center;
      width: 4rem;
      height: 2rem;
      font-size: 0.9rem;
      font-weight: 700;
      // color: white;
      align-items: center;
      border: 0.13rem solid gray;
      margin: 0rem 1rem;
      &:hover {
        border: 0.13rem solid black;
      }

      &-select {
        background-color: black;
        color: white;
      }
    }
  }
}

.bold {
  font-weight: 700;
  color: black;
}

@keyframes swap-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
